<app-header [title]="title"></app-header>

<ion-content>
  <form [formGroup]="form" *ngIf="form != null">
    <ion-item>
      <ion-text color="danger" *ngIf="nameError">Introduce un nombre</ion-text>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" large formControlName="name" (ionChange)="checkName()"></ion-input>
    </ion-item>
    <ion-list>
      <ion-list-header>
        <ion-label>
          <h2>
            Elige las comidas que quieras añadir
          </h2>
        </ion-label>
      </ion-list-header>
      <ion-list>
        <ion-item *ngFor="let meal of form.controls.meals.controls">
          <ion-checkbox slot="start" [formControl]="meal.controls.selected"></ion-checkbox>
          <ion-label>{{ meal.controls.name.value }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-list>
    
  </form>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="submit()" expand="block" fill="solid" shape="round">
      Guardar
    </ion-button>
  </ion-toolbar>
</ion-footer>
